
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.main-navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header-field{
   width:25%;
   float:left;
   text-align: center;
   color:red;
}
.card-body-row{
float:left;
font-size:30px;
width:25%;
text-align: center;
}
input{
  font-size:10px;
}
